{
  "title": "__TITLE__",
  "author": "__AUTHOR__",
  "digest": "",
  "content_source_url": "__SOURCE_URL__",
  "cover_image": "assets/cover.png",
  "need_open_comment": 1,
  "only_fans_can_comment": 0
}